<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Soma</title> 
</head>
<body>
    <section class="todo">
        <section class="quadrado">
            <h1>JABUTICABA</h1>
            <article class="info">
                <p class="energ"></p>
                <p class="carbo"></p>
                <p class="prote"></p>
                <p class="gT"></p>
                <p class="fibr"></p>
                <p class="vitC"></p>
                <p class="mag"></p>
            </article>
        </section>
    </section>
    <script src="./variaveis.js"></script>
</body>
</html>